.navbar-brand {
    color: #28a745 !important;
    font-weight: 150;
    font-family: 'Francois One', sans-serif;
}

#portfolioGraph {
    border-width: 1px;
    border-style: solid;
    border-color: #d3d3d3;
    height: 400px;
}

.portfolio {
    margin-top: 75px;
}


#actionSection {
    margin-left: 70px;
}

.title {
    text-align: center;
}

.holding {
    border: 1px solid #d3d3d3;
    height: 60px;
    padding: 10px;
}

.buyButton{
    margin-left:18px;
    width: 100px;
    height: 50px;
    background-color: #140e6e;
    color: white;
    text-align: center;
    padding-top: 8px; 
    border: 1px solid #003c6d;
    border-radius: 10px;
}

.circle{
   
    background-color: white;
    width:40px;
    height:32px;
    border-radius: 10px;
}

.sellButton {
    width: 130px;
    height: 40px;
    background-color: #5de27c;
    color: white;
    text-align: center;
    padding-top: 8px; 
    border: 1px solid #5de27c;
    border-radius: 50px 50px;
 
    margin-left: 30px;
}

.executeButton {
    margin-left:15px;
    width: 300px;
    height: 40px;
    background-color: #5de27c;
    color: white;
    text-align: center;
    padding-top: 8px; 
    border: 1px solid #5de27c;
    border-radius: 50px 50px;
    
}

#news {
    height: 500px;
}


.wet-asphalt-flat-button {
    position: relative;
    vertical-align: top;
    margin-left:10%;
    width: 80%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #34495e;
    border: 0;
    border-bottom: 2px solid #263849;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #263849;
    box-shadow: inset 0 -2px #263849;
  }
  .wet-asphalt-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .wet-asphalt-flat-button-small {
    position: relative;
    vertical-align: top;
    width: 48%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #34495e;
    border: 0;
    border-bottom: 2px solid #263849;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #263849;
    box-shadow: inset 0 -2px #263849;
  }

  .left{
      float:left;
      margin-right: 4%;
  }
  .wet-asphalt-flat-button-small:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .card{
      height: 300px;

  }